# Allow argocd-apps folder
!argocd-apps/
!argocd-apps/**

# Allow envs folder
!envs/
!envs/**

# ===== Allow YAML / YML files anywhere =====
!**/*.yaml
!**/*.yml

# ===== Allow Helm chart files =====
!**/Chart.yaml
!**/values.yaml
!**/templates/**

# ===== Allow Kustomize files =====
!**/kustomization.yaml
!**/kustomization.yml

# ===== Ignore sensitive files =====
secrets*.yaml
secrets*.yml
*.enc.yaml
*.enc.yml

# ===== Ignore OS / Editor files =====
.DS_Store
Thumbs.db

# ===== Ignore temporary files =====
*.tmp
*.bak
*.swp
*.lock
